body {
 text-align: center;
  background-color:#F50E12 ;
  background-image: url("https://res.cloudinary.com/otisg/image/upload/v1633903423/aj-moving_mmx6mj.jpg");
  background-size: contain;
  height: 100vh;
  
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  
 
}
.title{
  color: red;
}






a:hover {
  color: #00F
}


