/* .events-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black;
  border-radius: 3rem;
 height: 100vh; 

  overflow-x: scroll;
  

} */

.event-border {
  max-height: 500px;
  overflow-y: scroll;
  
  
  

}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: center;
 max-width: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
  color: #880808;
  border: solid 10px #67b7d1;
  border-radius: 5px;
  background-color: white;

}


