.events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-border {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.events {
  margin: 10px;
  font-size: 35px;
  color: #880808;
  border: solid 10px #67b7d1;
  border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
  .events-container {
    position: relative;
    right: 65px;
  }
}
