.sign-up-form {
  width: 1865px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sign-up-title {
  font-size: 50px;
}

.sign-up-inputs {
  font-size: 35px;
  font-size: 35px;
  width: 300px;
  margin: 20px;
}

.sign-up-button {
  width: 150px;
  position: relative;
  left: 8px;
  margin: 20px;
  font-size: 30px;
}

#first-name {
  position: relative;
  right: 35px;
}

#last-name {
  position: relative;
  right: 35px;
}

#username {
  position: relative;
  right: 35px;
}

#email {
  position: relative;
  right: 20px;
}
#password {
  position: relative;
  right: 35px;
}

#organization {
  position: relative;
  right: 45px;
}

@media only screen and (max-width: 1370px) {
  .sign-up-form {
    position: relative;
    right: 450px;
  }
}
