.login-title {
  font-size: 50px;
  margin-top: 35px;
}

.login-form {
  height: 700px;
  width: 1865px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.labels {
  display: flex;
  flex-direction: column;
}

.sign-in-inputs {
  font-size: 35px;
  width: 300px;
  margin: 20px;
}
.sign-in-button {
  width: 150px;
  position: relative;
  left: 10px;
  margin: 20px;
  font-size: 30px;
}

#username {
  position: relative;
  right: 35px;
}

#password {
  position: relative;
  right: 30px;
}

@media only screen and (max-width: 1370px) {
  .login-form {
    position: relative;
    right: 450px;
  }
}
